@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
    font-family: 'Noto Serif';
    src: url('./assets/fonts/Noto_Serif/static/NotoSerif_Condensed-ExtraBold.ttf') format('truetype');
    font-weight: 100 900; /* Adjust according to the weight range of the variable font */
    font-stretch: 50% 150%;
  }
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Noto Serif";
}

.LandingTitle{
    font-family: "Noto Serif";
    font-size: 4rem;
    font-weight: bold;
    margin: 10px;
}

.LandingDialogButtons{
    font-size: x-large;
    font-family:"Roboto";
    font-weight: bold;
    color: #202c3f;
    border: 1px solid #ddcdcd;
}

.close-spacing {
    margin-bottom: 0; 
    margin-top: 0;    
}

/* Center the content vertically and horizontally */
.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    
}

/* Logo styling */
.Logo {
    border-radius: 10%;
    border: 2px solid #ddcdcd
}

.LandingLogo {
    border-radius: 10%;
    border: 10px solid #ddcdcd
}

.LandingButtons{
    min-width:  "10rem";
    margin: 10px;
    font-family:"Roboto";
    font-weight: bold;
    border: 1px solid #ddcdcd

}

.LandingCards {
    font-family: "Noto Serif";
    font-family:"Roboto";
    font-size: large;
     font-weight: bold;
     border: 10px solid #ddcdcd;
 }
.LandingCards .p-dialog-header {
   font-family: "Noto Serif";
   font-size: 5rem !important;
   text-align: center;
    font-weight: bold;
}

.inline-flex {
    display: inline-flex;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap: 0.5rem; 
}

.label{
    margin-right: 15%;
}

.signUpTable td{
    padding-bottom: 4%;

}

.signUpTable{
    overflow-y: auto;
}